@use "./_vars.scss" as*;

@media (min-width: 1300px) and (max-width: 1760px) {
    .main {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        .cards {
            row-gap: 0vw;
            column-gap: 0vh;
        }
    }
main {
    // height: 40rem; //esto se va a modificar
    padding-left: 3vw;
    padding-right: 3vw;
    .cards {
        display:grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 3vw;
        column-gap: 2vw;
        border-radius: 10px;
        padding: 2rem;
        :hover{
        transform:scale(1.03) ;
        transition: 0.3s;
        }
        }
        .shoe-card {
            background-color: $trial-color-two; //color-one;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            row-gap: 1rem;
            padding: 1rem;
            box-shadow: $shadow-boxes;// $shadow-up; //esto tiene que ir en un hover o con uno.
            .shoe-img {
                height: 20rem;
                width: 20rem;
            }
            .shoe-name {
                max-width: 15rem;
                font-weight: 600;
                font-size: x-large;
            }
            .shoe-price {
                font-size: xx-large;
                font-weight: 500;
            }
            .cart-button {
                background-color: $trial-color-four;
                font-family: $general-font;
                height: 2rem;
                width: 4rem;
                border-radius: 10%; // 0 2px 4px rgba(0, 0, 0, 0.226);
            }
        }
    }
}
