//Colors

$color-one: #FFDCDC;
$color-two: #FFF2EB;
$color-three: #FFE8CD;
$color-four: #FFD6BA;

// Fonts

@font-face {
    font-family: "Quicksand", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
}

$general-font: "Quicksand";

//Shadows

$shadow-up: 0 -3px 4px rgba(0, 0, 0, 0.226);
$shadow-down: 0 2px 4px rgba(0, 0, 0, 0.226);
$shadow-boxes: 0 1px 3px rgba($color: #69696900, $alpha: 0.5);