* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color:antiquewhite;
}
header {
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 4rem;
        width: 100%;
        .logo{

        }
        .navbar {

        }
    }
}
main {
    height: 40rem; //esto se va a modificar
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}